@charset "UTF-8";
.area_todo {
  width:500px;
  margin: 180px auto 0;
}
.btn_add {
  padding: 5px 10px;
  border: 0;
  background-color: #f80;
  color: #fff;
  border-radius: 5px;
}
.list {
  padding: 0;
}
.item {
  border-bottom: 1px solid #999;
  padding: 5px 0;
}
